@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-smd: 991px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1366px;
  --breakpoint-3xl: 1536px;
  --breakpoint-4xl: 1760px;
}
/*tailwind custom container class start */
.container {
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 320px) {
  .container {
    max-width: 100% ;
    padding: 0 1rem;
  }
}
@media (min-width: 640px) {
  .container {
    max-width: 100% ;
    padding: 0 2rem;
  }
}
@media (min-width: 991px) {
  .container {
    padding: 0 3rem;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0 4rem;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0 6rem;
  }
}
@media (min-width: 1366px) {
  .container {
    padding: 0 6rem;
  }
}
@media (min-width: 1536px) {
  .container {
    max-width: 1418px;
  }
}

/* custom container end */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: var(--foreground);
  font-family: 'jostregualar', sans-serif;
}

@font-face {
  font-family: 'jostregualar';
  src: url('/fonts/Jost-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'allura-font';
  src: url('/fonts/Allura-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.gradientline::before {
  content: '';
  position: absolute;
  background: #ffffff;
  background: linear-gradient(
    269deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(194, 194, 194, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 140%;
  height: 1px;
  z-index: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* Label style after Input feild is in focus. Can also use input:focus ~ label to select sibling. */
/* Floating Label Animation (exact match from CodePen) */
/* Floating Label Form Styles */
.floating-form .input-wrap {
  position: relative;
  width: 100%;
}

.floating-form input {
  border: 2px solid #afbdcf;
  border-radius: 5px;
  height: 53px;
  width: 100%;
  color: #000;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 58px;
  box-shadow: none;
  background: transparent;
  z-index: 2;
  position: relative;
}

.floating-form label {
  font-size: 16px;
  color: #151515;
  padding: 0 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  transition: all 0.2s ease;
  pointer-events: none;
  z-index: 1;
}

.floating-form input:focus,
.floating-form input.filled {
  outline: none;
}

.floating-form input:focus + label,
.floating-form input.filled + label {
  font-size: 18px;
  color: #151515;
  top: 0px;
  left: 15px;
  background: #fff;
  padding: 0 5px;
  z-index: 3;
}

.floating-form input[type='password'] {
  /* font-size: 20px !important; */
  /* padding-top: 10px; */
  color: #505050 !important;
}

.modalAnim {
  animation: modalAnim 0.5s ease-out;
}
@keyframes modalAnim {
  0% {
    transform: translateY(-15%);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.banner_gradient {
  background: #100509;
  background: linear-gradient(
    85deg,
    rgba(16, 5, 9, 1) 30%,
    rgba(89, 23, 47, 1) 70%
  );
}
.allura-regular {
  font-family: 'Allura', cursive;
  font-weight: 400;
  font-style: normal;
}

.datatable tr th:first-child,
.datatable td:first-child {
  padding-left: 60px;
}
.datatable tr th:last-child,
.datatable td:last-child {
  padding-right: 60px;
}

.scrollable-element::-webkit-scrollbar {
  height: 2px;
  width: 6px;
  background-color: #e4e4e4;
}
.scrollable-element::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}
.scrollable-element::-webkit-scrollbar-thumb {
  background: #a9a9a9;
  border-radius: 10px;
}
.scrollable-element::-webkit-scrollbar-thumb:hover {
  background: #a9a9a9;
  border-radius: 10px;
}
.scrollable-element::-webkit-scrollbar-thumb:horizontal {
  background: #e4e4e4;
  border-radius: 10px;
}

/* Remove native calendar icon */
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}
input[type='date'] {
  /* hide native icon in Firefox */
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.before_img::after {
  background-image: url('../../public/images/sidebaricons/toggleimage.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.vendortable tr th {
  text-align: left;
}
.vendortable tr th:last-child {
  text-align: right !important;
}
.vendortable tr td {
  text-align: left;
}
.vendortable tr td:last-child {
  text-align: center !important;
}

/* visible scrollbar  */
.scroll-visible {
  overflow-x: scroll;
  scrollbar-width: auto; /* For Firefox */
}

.scroll-visible::-webkit-scrollbar {
  height: 4px;
}

.scroll-visible::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 4px;
}

.scroll-visible::-webkit-scrollbar-track {
  background: #f0f0f0;
}

@layer utilities {
  .animate-slide-in {
    animation: slideInRight 0.4s ease forwards;
  }

  .animate-slide-out {
    animation: slideOutRight 0.4s ease forwards;
  }

  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes slideOutRight {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .animate-modal-in {
    animation: modalSlideIn 0.4s ease forwards;
  }

  .animate-modal-out {
    animation: modalSlideOut 0.3s ease forwards;
  }

  @keyframes modalSlideIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes modalSlideOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-50px);
    }
  }

  /* Add to your global CSS file */
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(8px);}
    to { opacity: 1; transform: translateY(0);}
  }
  .animate-fade-in {
    animation: fade-in 0.2s ease;
  }
}

/* visible scrollbar end  */
.homepagebanner_bg {
  background: #121212;
  background: linear-gradient(
    360deg,
    rgba(18, 18, 18, 1) 5%,
    rgba(0, 0, 0, 0) 100%
  );
}


/* gradient border start  */
@property --angle {
	syntax: '<angle>';
	inherits: true;
	initial-value: 0deg;
}

.card {
	--angle: 0deg;
	background: linear-gradient(white, white) padding-box, conic-gradient(from var(--angle), #dfdfdf, #ea0056) border-box;
	border: 2px solid transparent;
	border-radius: 16px;
	animation: rotate-gradient 3s infinite linear;
}

@keyframes rotate-gradient {
    from { --angle: 0deg; }
    to { --angle: 360deg; }
}


/* gradient border end  */

.chatpopsup {
  animation: chatpopsup 0.4s ease-in-out both;
}
@keyframes chatpopsup {
  0% {
    transform: translateY(150px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@media (max-width: 1700px) {
  .gradientline:before {
    width: 110%;
  }
  .floating-form label {
    font-size: 14px;
  }
  .floating-form input:focus + label,
  .floating-form input.filled + label {
    font-size: 15px;
    top: 0;
  }
}
@media (max-width: 1574px) {
  .floating-form input {
    height: 40px;
    font-size: 12px;
  }
}
@media (max-width:768px) {
  .venuwsearchslider .sliderbtns{
    display: none;
  }
}

/* in your global CSS or module */
.big-password-dots {
  letter-spacing: 0.3em;
  font-size: 1.5rem;
}